[Desktop Entry]
Encoding=UTF-8
Name=PantumPrint For Add Printer
Name[zh_CN]=奔图打印-添加打印机
GenericName=PantumPrint For Add Printer
GenericName[zh_CN]=奔图打印-添加打印机
Comment=PantumPrint For Add Printer
Comment[zh_CN]=奔图打印-添加打印机
Exec=/opt/apps/com.pantum.pantumprint/files/bin/pp_addprinter root
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt
Icon=/opt/apps/com.pantum.pantumprint/entries/icons/hicolor/256x256/apps/com.pantum.pantumprint.addprinter.png
