[Desktop Entry]
Encoding=UTF-8
Name=PantumPrint Device Manager
Name[zh_CN]=奔图打印-设备管理
GenericName=PantumPrint Device Manager
GenericName[zh_CN]=奔图打印-设备管理
Comment=PantumPrint Device Manager Moniter Printer Status
Comment[zh_CN]=奔图打印设备管理监控打印机状态
Exec=/opt/apps/com.pantum.pantumprint/files/bin/pp_smclient
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt;Printing
Icon=/opt/apps/com.pantum.pantumprint/entries/icons/hicolor/256x256/apps/com.pantum.pantumprint.statusmanager.png
