# Load firmware for this printer.

#ACTION!="add", GOTO="mud_rules_end"

# CM7107DN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0235", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

# CM2277ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="030f", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

LABEL="mud_rules_end"
