# Load firmware for this printer.

#ACTION!="add", GOTO="mud_rules_end"

#SUBSYSTEM=="usb_device", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="1e10", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM5102ADN 4020MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="273c", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM5108ADN 4020MFP
#SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2713", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#M7180DN 5103MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0f2e", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#M6788DN 5103MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0f83", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#M7188DN 5103MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0f84", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#M7155DN 5103MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0f57", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM5135ADN 4020MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2720", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#CM1115ADN 1820MFP
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="a451", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM5275ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2756", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM5285ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="275e", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

LABEL="mud_rules_end"
